html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(right top, ##f9f9f9 , #1F51AC);
  background: -o-linear-gradient(bottom left, ##f9f9f9, #1F51AC);
  background: -moz-linear-gradient(bottom left, ##f9f9f9, #1F51AC);
  background: linear-gradient(to bottom left, ##f9f9f9 , #1F51AC);
  background-repeat: none;
  /*background: #1F51AC;*/
  /*padding-bottom: 150px;*/
  overflow: hidden;
}

input:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

#username {
	position: relative;
	float: right;
}

#invite {
	position: fixed;
	border-radius: 500px;
	width: 65px;
	height: 65px;
	background: red;
	color: white;
	font-size: 35px;
	bottom: 35px;
	right: 35px;
	text-align: center;
	line-height: 65px;
}

.sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	left: -200px;
	background: gray;
	-webkit-transition: all .5s ease;
  	transition: all .5s ease;
}

.sidetop {
	position: relative;
	width: 100%;
	height: 30px;
	background: red;
}

.sidebar.active {
	left: 0px;
}

#songList {
	position: relative;
	width: 300px;
	float: right;
	top: 100px;
}

.song {
	position: relative;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	background: gray;
}

.uuid {
	position: fixed;
	top: 10px;
	left: 10px;
	color: white;
}
.menubar {
	/*position: fixed;*/
}
#ytsearch {
	position: fixed;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  font-size: 24px;
  border-radius: 4px;
  border: none;
}
#add {
	position: relative;
	display: inline-block;
	float: left;
}
#enable {
  position: absolute;
  width: 300px;
  height: 100px;
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

#freq {
  position: absolute;
  width: 450px;
  height: 100px;
  left: 50px;
  top: 100px;
}
.results {
  position: relative;
  display: none;
  width: 100%;
  height: 90%;
  top: 50px;
  background: #67809F;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
.resultItem {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 125px;
  height: 175px;
  font-size: 12px;
  background: white;
  float: left;
  border-radius: 4px;
}
.resultImage {
  position: relative;
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.resultTitle {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
}
.adding {
  height: 50px;
}
.bottomControlsContainer {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 10px;
  background: #22313F;
  color: white;
}
.albumArt {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.songTitle {
  width: 30%;
  height: 100%;
  position: relative;
  display: inline-block;
  float: left;
  color: #C5EFF7;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 50px;        /* fallback */
  max-height: 50px;
}
.lastSong {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
}
#play {
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/play.jpg);
  float: left;
  width: 10%;
  height: 100%;
}
.nextSong {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
}
.playerTime {
  position: relative;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  line-height: 50px;
  text-align: right;
  color: #C5EFF7;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 50px;        /* fallback */
  max-height: 50px;
}
#enableContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1000;
}
.song-list {
  position: relative;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.song-item {
  position: relative;
  width: 100%;
  float: left;
  top: 0;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.5);
  color: #34495e;
  border-bottom: 1px solid #34495e;
  margin-bottom: 8px;
  padding: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.song-item:hover {
  background: #C5EFF7;
}
.song-image {
  position: relative;
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.song-title {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
  width: 85%;
  height: 50px;
}
.syncingContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
.syncing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  color: white;
  background: black;
}
.scrubberContainer {
  position: fixed;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background: #3498DB;
}
.scrubber {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
}
.question {
  position: relative;
  display: inline-block;
  float: right;
  width: 10%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/images/question.png);
  cursor: pointer;
}
.question-popup {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.question-content {
  position: absolute;
  top: 30vh;
  left: 50%;
  right: 50%;
  margin-left: 50%;
  margin-right: 50%;
  width: 60%;
  height: 30%;
  padding-top: 10%;
  background: white;
  text-align: center;
}
.question-close {
  position: absolute;
  top: 3px;
  right: 3px;
  color: black;
  font-size: 24px;
}
.question-close:hover {
  color: red;
}
