html, body {
height: 100%;
margin: 0;
padding: 0;
}

body {
    background: -webkit-linear-gradient(right top, #1BCBFF , #1F51AC);
    background: -o-linear-gradient(bottom left, #1BCBFF, #1F51AC);
    background: -moz-linear-gradient(bottom left, #1BCBFF, #1F51AC);
    background: linear-gradient(to bottom left, #1BCBFF , #1F51AC);
    background-repeat: none;
    /*background: #1F51AC;*/
    /*padding-bottom: 150px;*/
    overflow: hidden;
}

#username {
	position: relative;
	float: right;
}

#invite {
	position: fixed;
	border-radius: 500px;
	width: 65px;
	height: 65px;
	background: red;
	color: white;
	font-size: 35px;
	bottom: 35px;
	right: 35px;
	text-align: center;
	line-height: 65px;
}

.sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	left: -200px;
	background: gray;
	-webkit-transition: all .5s ease;
  	transition: all .5s ease;
}

.sidetop {
	position: relative;
	width: 100%;
	height: 30px;
	background: red;
}

.sidebar.active {
	left: 0px;
}

#songList {
	position: relative;
	width: 300px;
	float: right;
	top: 100px;
}

.song {
	position: relative;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	background: gray;
}

.uuid {
	position: fixed;
	top: 10px;
	left: 10px;
	color: white;
}
.menubar {
	/*position: fixed;*/
}
#ytsearch {
	position: fixed;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  font-size: 24px;
  border-radius: 4px;
  border: none;
}
#add {
	position: relative;
	display: inline-block;
	float: left;
}
#enable {
  position: absolute;
  width: 300px;
  height: 100px;
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

#freq {
  position: absolute;
  width: 450px;
  height: 100px;
  left: 50px;
  top: 100px;
}
.results {
  position: relative;
  display: none;
  width: 100%;
  height: 90%;
  top: 50px;
  background: gray;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
.resultItem {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 125px;
  height: 175px;
  font-size: 12px;
  background: white;
  float: left;
  border-radius: 4px;
}
.resultImage {
  position: relative;
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.resultTitle {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
}
.adding {
  height: 50px;
}
.bottomControlsContainer {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 10px;
  background: #22313F;
  color: white;
}
.albumArt {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 100%;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.songTitle {
  width: 30%;
  height: 100%;
  position: relative;
  display: inline-block;
  float: left;
  color: #C5EFF7;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 50px;        /* fallback */
  max-height: 50px;
}
.lastSong {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
}
#play {
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/play.jpg);
  float: left;
  width: 10%;
  height: 100%;
}
.nextSong {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
}
.playerTime {
  position: relative;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  line-height: 50px;
  text-align: right;
  color: #C5EFF7;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 50px;        /* fallback */
  max-height: 50px;
}
#enableContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1000;
}
.song-list {
  position: relative;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.song-item {
  position: relative;
  width: 100%;
  float: left;
  top: 0;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
  border-radius: 4px;
}
.song-image {
  position: relative;
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.song-title {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
  width: 85%;
  height: 50px;
}
.syncingContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
.syncing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  color: white;
  background: black;
}
.scrubberContainer {
  position: fixed;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background: green;
}
.scrubber {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
}




$background:#f9f9f9;
$foreground:#2c3e50;

$foreground-light:#34495e;


$size:50px;
$ratio:1.2;

$transition-time:0.3s;

body {
  background: $background;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}

.play {
  display:block;
  width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: ($size*$ratio) solid $foreground;
  margin: ($size * 2) auto $size auto;
  position:relative;
  z-index:1;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  left:($size*0.2);

  &:before {
    content:'';
    position:absolute;
    top:($size*-1.5);
    left:($size*-2.3);
    bottom:($size*-1.5);
    right:($size*-0.7);
    border-radius:50%;
    border: ($size*0.2) solid $foreground;
    z-index:2;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
  }
  &:after {
    content:'';
    opacity:0;
    transition: opacity ($transition-time * 2);
    -webkit-transition: opacity ($transition-time * 2);
    -moz-transition: opacity ($transition-time * 2);
  }

  &:hover, &:focus {
    &:before {
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
    }
  }

  &.active {
	  border-color:transparent;
    &:after {
      content:'';
      opacity:1;
      width:($size);
      height:($size*1.6);
      background:$foreground;
      position:absolute;
      right: ($size*0.1);
      top: ($size*-0.8);
      border-left:($size*0.4) solid $foreground;
      box-shadow:inset ($size*0.6) 0 0 0 $background;
    }
  }
}

h1 {
   text-transform:uppercase;
  color:$foreground-light;
  letter-spacing:2px;
  font-size:2em;
  margin-bottom:0;
}

.headline {
   display:block;
  color:$foreground;
  font-size:1.5em;
  margin-bottom:1.5em;
}

.social {
  text-decoration:none;
  color:$foreground-light;
  margin: 0.5em 1.5em;
  display:inline-block;
  &:hover, &:focus {
    color:$foreground;
  }
}
