<head>

<style>

html, body {
height: 100%;
margin: 0;
padding: 0;
}

body {
    /*background: -webkit-linear-gradient(right top, #f9f9f9 , #1F51AC);
    background: -o-linear-gradient(bottom left, #f9f9f9, #1F51AC);
    background: -moz-linear-gradient(bottom left, #f9f9f9, #1F51AC);
    background: linear-gradient(to bottom left, #f9f9f9 , #1F51AC);*/
    /*background-repeat: none;*/
    background: #f9f9f9;
    /*background: #1F51AC;*/
    /*padding-bottom: 150px;*/
    overflow: hidden;
    color: #34495e;
}

input:focus {
  outline: none;
  border: none;
}

.menubar {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
}

.centerContent {
	position: relative;
	top: 30px;
}

.title {
	position: relative;
	font-size: 72px;
}

.description {
	position: relative;
	font-size: 32px;
	top: -40px;
}

.buttons {
	border: 1px solid #34495e;
	position: relative;
	background: #34495e;
  color: #f9f9f9;
	font-size: 20px;
	border-radius: 10px;
	-webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.buttons:hover {
	-webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #34495e;
  background: #f9f9f9;
  color: #34495e;
}

.buttons:active {
  outline: none;
  border: none;
}

#login {
	float: right;
	width: 100px;
	height: 50px;
}

#signup {
	float: right;
	width: 100px;
	height: 50px;
}

#generate {
	width: 200px;
	height: 100px;
}
#uuid {
	font-size: 30px;
  display: none;
}
#join {
  position: relative;
  display: inline-block;
  height: 55px;
  width: 125px;
  font-size: 24px;
}
#join-text {
  position: relative;
  display: inline-block;
  color: #34495e;
  width: 210px;
  height: 50px;
  font-size: 24px;
}

</style>

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>

</head>

<div class="menubar">
	<button id="login" class="buttons" onclick="window.location.href='/login'" style="display:none;">Login</button>
	<button id="signup" class="buttons" onclick="window.location.href='/register'" style="display:none;">Sign up </button>
</div>

<center>
	<div class="centerContent">
		<h1 class="title"> Collab </h1>
		<h3 class="description">Sync phone speakers with friends</h3>
		<button id="generate" class="buttons">Host Room</button>
		<p id="uuid"></p>
    <h1>OR</h1>
    <br />
		<input id="join-text" type="text" placeholder="enter room code...">
		<button id="join" class="buttons">Join Room</button>
	</div>
</center>

<div class="roomFeedContainer">

</div>




<script>

var id

io.socket.post('/Room/generateCode', '')

io.socket.on('receiveCode', function (data){
	$('#uuid').text('collab.party/room?#'+data.roomid)
	id = data.roomid
})

var low = 999999

io.socket.on('pong', function (data){
	console.log(data)
	var end = +new Date()
	var result = (end - data.start) / 2
	console.log(result)
	if (result < low){
		low = result
	}
})

// var pingInt = setInterval(ping(), 200)

var pingct = 0
for (var i = 0 ; i < 10 ; i++){
	setTimeout(function(){
		var obj = {}
	obj.start = +new Date()
	io.socket.post('/Room/ping/', obj)
	pingct++
	if (pingct > 20){
		// clearInterval(pingInt)
		console.log(low)
	}
	}, i*100)
}
// ping()
// ping()

function ping(){
	var obj = {}
	obj.start = +new Date()
	io.socket.post('/Room/ping/', obj)
	pingct++
	if (pingct > 20){
		clearInterval(pingInt)
		console.log(low)
	}
}

$('#generate').click(function(){
	window.location.href += 'room?#' + id
})

$('#join').click(function(){
  window.location.href +='room?#' + ($('#join-text').val()).toUpperCase()
})



</script>
