<head>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
</head>
<body>

<div class="uuid" style="display:none;">none</div>
<div id="username" style="display:none;">will</div>
<div id="enableContainer">
  <div id="enable">Join Room</div>
</div>
<audio id="song" style="display:none;" controls>
  <source src="/audio/enable.mp3" type="audio/mp3">
</audio>



<input id="ytsearch" type="text" placeholder="add song...">
<div class="results"></div>

<div class="song-list"></div>

<div class="bottomControlsContainer">
  <div class="albumArt"></div>
  <div class="songTitle"></div>
  <div class="lastSong"></div>
  <div id="play"></div>
  <div class="nextSong"></div>
</div>

<div class="scrubberContainer">
  <div class="scrubber"></div>
</div>

<div class="syncingContainer">
  <div class="syncing">Syncing, please wait...</div>
</div>

<!-- <script src="/js/visualizer.js"></script> -->
<script src="/js/main.js"></script>
<script src="/js/youtube.js"></script>
<script src="//apis.google.com/js/client.js?onload=ytinit"></script>

</body>
